<section class="container text-center top-spacing">
  <div class="row">
    <div class="col-12">
      <h2 (click)="toggleQa()">Questions/Answers</h2>
      <div *ngIf="isQaVisible" class="qa-container fade-in">
        <div class="qa-item">
          <h4>Why?</h4>
          <p>Why not?</p>
        </div>
        <div class="qa-item">
          <h4>No seriously why?</h4>
          <p>I'm running an experiment on a concept called value extraction. I'm trying to see if literally anybody will give me money simply because I asked, without the promise of anything whatsoever in return. This is part of my exploration into the concept of value - what it means to people, and how to create it - as a member of the 2018 cohort of the <a href="http://enrolyourself.com">Enrol Yourself Learning Marathon</a>.</p>
        </div>
        <div class="qa-item">
          <h4>Is this safe?</h4>
          <p>Yes. I don't have access to your card details, and I don't save anything to do with them either.</p>
        </div>
        <div class="qa-item">
          <h4>I don't believe you.</h4>
          <p>The entirety of this site is open source and <a href="hhttps://github.com/tbscanlon/give-me-money-please">viewable on Github</a>. Look through the code or have a dev friend look for you if you don't believe me.</p>
        </div>
      </div>
    </div>
  </div>
</section>
